@import "../../assets/scss/color";
@import "../../assets/scss/flex";
@import "../../assets/scss/mediaquery";

.BirthdayNew {
  background-color: $greyColor;
  width: 100vw;
  @include flexToCenterColumn();
  padding: 50px 0px;
  box-sizing: border-box;
}

.Element {
  width: 100%;
}
