@mixin flexToCenterColumn {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexToCenterRow {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
