@import "../../assets/scss/flex";
@import "../../assets/scss/color";
@import "../../assets/scss/mediaquery";

.Name {
  width: 100%;
  height: 100vh;
  @include flexToCenterColumn();
  position: relative;

  .Text {
    color: $whiteColor;
    position: relative;
    bottom: 10%;
  }

  .Container {
    @include flexToCenterRow();
    width: 70%;
    background-color: $whiteColor;
    position: relative;
    bottom: 5%;

    @include md {
      width: 30%;
    }

    .InputContainer {
      flex-basis: 100%;
      height: 50px;
      @include flexToCenterRow();
    }

    .Input {
      border: 0;
      width: 100%;
      height: 50%;
      outline: none;
      padding: 0px 10px;
      font-size: 1.2em;
    }
  }

  .GoBack {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 0;

    .Text {
      color: $whiteColor;
      margin-left: 5px;
    }
  }

  .GoNext {
    @include flexToCenterRow();
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 5%;
    cursor: pointer;

    .Next {
      color: $whiteColor;
      margin-right: 5px;
    }
  }
}
