@import "../../assets/scss/flex";
@import "../../assets/scss/color";
@import "../../assets/scss/container";
@import "../../assets/scss/mediaquery";

.Date {
  @include WHRelative();
  @include flexToCenterColumn();

  .GoBack {
    @include flexToCenterRow();
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 5%;

    .Back {
      color: $whiteColor;
      margin-left: 5px;
    }
  }

  .GoNext {
    @include flexToCenterRow();
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 5%;
    cursor: pointer;

    .Next {
      color: $whiteColor;
      margin-right: 5px;
    }
  }

  .When {
    text-align: center;
    color: $whiteColor;
    position: relative;
    bottom: 5%;

    @include md {
      bottom: 10%;
    }
  }

  .Birthday {
    display: flex;
    flex-direction: column;

    @include md {
      flex-direction: row;
    }

    .Month {
      @include flexToCenterColumn();
    }

    .Day {
      @include flexToCenterColumn();
    }

    .Dash {
      width: 100px;
      height: 100px;
      @include flexToCenterColumn();

      @include md {
        width: 150px;
        height: 150px;
      }

      .Line {
        width: 5px;
        height: 50px;
        border-radius: 3px;
        background-color: $whiteColor;

        @include md {
          width: 100px;
          height: 5px;
        }
      }
    }

    .SubText {
      color: $whiteColor;
      font-size: 1em;
      margin-top: 20px;
    }

    .Input {
      text-align: center;
      width: 100px;
      height: 100px;
      border-radius: 10px;
      border: 2px solid $whiteColor;
      background-color: transparent;
      padding: 10px;
      box-sizing: border-box;
      outline: none;
      font-size: 50px;
      color: $whiteColor;

      @include md {
        width: 150px;
        height: 150px;
        font-size: 100px;
      }
    }
  }
}
