doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Happy birthday to &quot;Member&apos;s name&quot;
  link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Exo:400,600,700,800,900|Raleway:300,400,500,600,800,900&display=swap' rel='stylesheet')
  script(src='https://kit.fontawesome.com/9b30bdf6f0.js')
  link(rel='stylesheet' href='./template1.css')
#header
  #header-date.d-flex.justify-content-center.align-items-center.px-5.flex-column
    .font-size-7 YOUTH ENTREPRENEUR SOCIETY UNM :
    .font-size-1 It is #{date}!
#content.d-flex.justify-content-center.align-items-center.flex-column.px-3.py-5.col-sm-12.col-md-8.mx-auto
  #title.font-weight-bold.font-size-2.text-center
    | Happy birthday #{name} !
  .text-center.py-2
    | Thank you for joining Youth Entrepreneur Society and being an awesome
    | member!
  #wishes.text-center.py-4
    div #{name},
    div
      | In this special day, we the team of Youth Entrepreneur Society of
      | University of Nottingham Malaysia wishes this special day will bring
      | you lots of happiness, love, and fun. Don&apos;t ever change! No one can
      | ever stop you from loving yourself.
  .text-center
    div #{name},
    div
      | Meantime, Youth Entrepreneur Society University of Nottingham Malaysia
      | wants to know your
    span.font-weight-bold
      | 3 birthday wishes!
    div
      | These 3 wishes can be your wishes for your family, friends, personal
      | goals and even the world etc.
    div
      | Tell us by
      span.font-weight-bold
        | messaging YES UNM official Instagram account: @yes.unm within
        | today
      |           starting with:
    .font-weight-bold.py-5 My 3 Birthday Wishes are: ....
  div Best wishes from,
  .d-flex.justify-content-center.align-items-center.py-2
    img.logo(src='./images/logo/logo.png')
  .signatures.d-flex.flex-wrap.justify-content-center.align-items-center
    #ceo.d-flex.flex-column.justify-content-center.align-items-center
      .d-flex.justify-content-center
        img(src='./images/signatures/cpro.png' style='width: 60%; ')
      div Yeow Ern Chi
      div Chief Executive Officer of YES UNM
    #coo.d-flex.flex-column.justify-content-center.align-items-center
      .d-flex.justify-content-center
        img(src='./images/signatures/cpro.png' style='width: 60%; ')
      div Yeow Sze Wei
      div Chief Operating Officer of YES UNM
    #coo.d-flex.flex-column.justify-content-center.align-items-center
      .d-flex.justify-content-center
        img(src='./images/signatures/cpro.png' style='width: 60%; ')
      div Lim Sheng Qing
      div Chief Operating Officer of YES UNM
    #cfo.d-flex.flex-column.justify-content-center.align-items-center
      .d-flex.justify-content-center
        img(src='./images/signatures/cpro.png' style='width: 60%; ')
      div Noah Lee Wern Chong
      div Chief Finance Officer of YES UNM
    #cxo.d-flex.flex-column.justify-content-center.align-items-center
      .d-flex.justify-content-center
        img(src='./images/signatures/cpro.png' style='width: 60%; ')
      div Chin Hui Yin
      div Chief Experience Officer of YES UNM
    #cdo.d-flex.flex-column.justify-content-center.align-items-center
      .d-flex.justify-content-center
        img(src='./images/signatures/cpro.png' style='width: 60%; ')
      div Kuan Jian Xiang
      div Chief Design Officer of YES UNM
    #cto.d-flex.flex-column.justify-content-center.align-items-center
      .d-flex.justify-content-center
        img(src='./images/signatures/cpro.png' style='width: 60%; ')
      div Tan Ming Jun
      div Chief Training Officer of YES UNM
    #cpro.d-flex.flex-column.justify-content-center.align-items-center
      .d-flex.justify-content-center
        img(src='./images/signatures/cpro.png' style='width: 60%; ')
      div Voon Shun Zhi
      div Chief Public Relation Officer of YES UNM
#footer.d-flex.justify-content-center.align-items-center.flex-column
  #social_media.d-flex.flex-row.justify-content-around.align-items-center.py-2
    div
      i.fab.fa-facebook.font-size-4(onclick='location.href="https://www.facebook.com/connectyouths/"')
    div
      i.fab.fa-instagram.font-size-4(onclick='location.href="https://www.instagram.com/yes.unm/"')
    div
      i.fab.fa-linkedin.font-size-4(onclick='location.href="https://www.linkedin.com/company/14688760/"')
  .divider.my-2
  .font-size-7
    | Copyright &copy; YES UNM, All right reserved.
  .font-size-7.font-weight-bold Our mailing address:
  .font-size-7 yes.unmc@gmail.com
