@import "../../assets/scss/flex";
@import "../../assets/scss/color";
@import "../../assets/scss/mediaquery";

.ReactModal {
  width: 80vw;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: $whiteColor;
  padding: 20px;

  @include md {
    width: 40vw;
  }
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Modal {
  @include flexToCenterColumn();

  .Text {
    font-size: 2em;
  }

  .SubText {
    margin-top: 10px;
    font-size: 1em;
  }

  .Button {
    background-color: $greyColor;
    color: $whiteColor;
    font-size: 1em;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-family: "Exo";
    margin-top: 30px;
    cursor: pointer;
  }
}

.Submit {
  position: relative;
  width: 100%;
  height: 100vh;
  @include flexToCenterColumn();
  color: $whiteColor;

  .Container {
    width: 75vw;

    @include md {
      width: auto;
      @include flexToCenterColumn();
    }
  }

  .Typing {
    font-size: 3em;
    position: relative;
    bottom: 10%;
  }

  .SubmitEmail {
    font-size: 1.5em;

    @include md {
      font-size: 2em;
    }
  }

  .SubmitDate {
    font-size: 1.5em;

    @include md {
      font-size: 2em;
    }
  }

  .ConfirmButtonContainer {
    position: relative;
    top: 10%;
  }

  .ConfirmButton {
    padding: 20px;
    border-radius: 5px;
    background-color: $orangeColor;
    border: 0;
    font-family: "Exo";
    color: $whiteColor;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
  }

  .ConfirmButton:active {
    background-color: $blackColor;
  }
}

.GoBack {
  @include flexToCenterRow();
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 5%;

  .Back {
    color: $whiteColor;
    margin-left: 5px;
  }
}
